body{
	text-align: center;
	background: transparent;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #fff;
  font-weight: 100;
  font-size: 2em;
  margin: 10px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #000;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 5.5vmin;
    z-index: 5;
    margin-bottom: 1em;
}

#clockdiv > div{
	padding: .2em;
	border-radius: 3px;
	background: #000;
	display: inline-block;
    font-family: 'Poiret One' , cursive;
    z-index: 10;
    opacity: .8;
}

#clockdiv div > span{
	padding: .4em;
	border-radius: 2px;
	background: #fff;
	display: inline-block;
    z-index: 100;
    opacity: .7;
    text-shadow: none;
    font-size: 1em;
}

.smalltext{
	padding-top: .1em;
	font-size: .5em;
    position: relative;
    font-family: 'Amatic SC', cursive;
    z-index: 101;
    color: #fff;
}

.about {
    text-decoration: none;
    border: double;
    border-width: thin;
    align-content: center;
    padding: .2em;
    z-index: 105;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    z-index: 20;
    margin: auto;
    padding: 0;
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1; bottom: auto;}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 100;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 12px 16px;
    background-color: #424242;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    z-index: 101;
}

.modal-intro{
font-family: 'Raleway', sans-serif;
font-size: .7em;
margin-bottom: auto;
}
.modal-body {padding: 16px 20px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
    
.btn-xl {
    padding: 7px 20px;
    font-size: 1em;
    text-shadow: 1em 1em #000;
    font-weight: bolder;
    width: 300px;
}
.btn {
    border-radius: 400px;
    font-family: 'Amatic SC', cursive, bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 5.5vmin;
    font-weight: bolder;
    margin-bottom: .5em;
    color: #000;
    margin-right: .5em;
}

.btn-outline {
    color: #000;
    border: 2px solid;
}

.timer {
    width: 100px;
}

@media(max-width: 30em) {
    .timer {
        width: 50px;
    }
}
